@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 1324px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/************* header section start  ************/

.header_wrapper {
  padding-top: 27px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_list {
  display: flex;
  width: 565px;
  justify-content: space-between;
}
.nav_list_item_link {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: rgba(34, 35, 38, 0.8);
}
.nav_list_item_link:hover {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #222326;
}
.header_contact {
  display: flex;
  width: 198px;
  justify-content: space-between;
}
.header_tel_icon {
  margin-right: 12px;
}

.caall_us {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 7px;
}
.header_phone_number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

/********************* heaer section end */

/********************* hero section start */

.hero {
  background-color: #dbebf8;
  padding-top: 133px;
  padding-bottom: 91px;
  background-image: url(../image/hero_img.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) calc(50% + 57px);
  background-size: 600px 840px;
}
.hero_title {
  width: 641px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 140%;
  color: #050931;
  margin-bottom: 24px;
}
.hero_desc {
  width: 617px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 172%;
  color: #767877;
  margin-bottom: 48px;
}
.hero_btn {
  width: 177px;
  height: 66px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 166%;
  color: #ffffff;
  background: #1f6bff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-bottom: 92px;
}
.hero_list {
  display: flex;
  width: 730px;
  justify-content: space-between;
}
.list_item_number {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #050931;
  margin-bottom: 12px;
}
.list_item_desc {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #647685;
}
/******************** hero sectio end  */

/******************** about section start  */

.about {
  background-image: url(../image/about_img.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 350px) calc(50% + 100px);
  background-size: 800px;
  margin-bottom: 128px;
  padding-top: 120px;
  padding-bottom: 128px;
}
.about_pre_title {
  width: 89px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #050931;
  padding-bottom: 4px;
}

.under_about {
  display: flex;
  width: 89px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.line {
  width: 36px;
  height: 2px;
  background: #fe6b01;
  border-radius: 100px;
}
.circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fe6b01;
}

.about_title {
  width: 492px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #050931;
  margin-bottom: 24px;
}
.about_desc {
  width: 513px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #647685;
  margin-bottom: 20px;
}
.about_desc span {
  color: #fe6b01;
}

.sub_desc {
  width: 499px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #647685;
  margin-bottom: 48px;
}

.about_btn {
  width: 171px;
  height: 66px;
  background: #1f6bff;
  border-radius: 4px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 166%;
  color: #ffffff;
  border: none;
}
/******************** about section end  */
/******************* servicr section start  */

.srvice {
  background-image: url(../image/service-top-bg.png);
  background-repeat: no-repeat;
  background-color: #f4f9fd;
  padding-top: 120.27px;
  padding-bottom: 120.73px;
}

.pre_servise {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #050931;
  margin: 0 auto;
  padding-bottom: 5px;
}

.under_about_center {
  display: flex;
  width: 80px;
  margin-left: calc(50% - 50px);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.service_title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #050931;
  text-align: center;
  margin-bottom: 20px;
}

.service_desc {
  width: 609px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  margin: 0 auto;
  text-align: center;
  color: #647685;
  margin-bottom: 78px;
}

.service_card_wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.service_card {
  width: 420px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 39px;
  margin-bottom: 60px;
}

.service_card_title {
  width: 256px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #1b1e1c;
  margin-bottom: 20px;
}

.service_card_title::before {
  display: block;
  content: "";
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #fff4da;
  background-image: url(../image/card1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 40px;
}

.service_card:nth-child(2) .service_card_title::before {
  background-color: #daf1e3;
}

.service_card:nth-child(3) .service_card_title::before {
  background-color: #ffe6da;
}

.service_card_desc {
  width: 356px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #767877;
  margin-bottom: 47px;
}

.service_bottom_btn {
  width: 172px;
  height: 66px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 166%;
  color: #ffffff;
  background: #1f6bff;
  border-radius: 4px;
  border: none;
  margin-left: 500px;
  cursor: pointer;
}
/******************* servicr section end  */

/****************** how we work section  */

.how_we_work {
  padding-top: 120px;
  background-image: url(../image/how_section_bg.svg);
  background-repeat: no-repeat;
  background-position: calc(50% + 600px) calc(50% - 300px);
  padding-bottom: 120px;
}
.how_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.how_pre_title {
  width: 126px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #050931;
}
.how_title {
  width: 555px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #050931;
}

.how_desc {
  width: 403px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #647685;
}

.under_about_how {
  display: flex;
  width: 126px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.line_how {
  width: 54px;
  height: 2px;
  background: #fe6b01;
  border-radius: 100px;
}

.how_card_wrapper {
  display: flex;
  align-items: center;
  padding-right: 250px;
}
.how_card {
  width: 337px;
  border-left: 1px solid #ff8345;
  padding-right: 46px;
  padding-left: 23px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.how_card_title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #1b1e1c;
  margin-bottom: 16px;
}

.how_card_title::before {
  display: block;
  content: "";
  width: 107px;
  height: 107px;
  background-image: url(../image/how_card1.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.how_card:nth-child(2) {
  border-left: 1px solid #1f6bff;
}
.how_card:nth-child(3) {
  border-left: 1px solid #ffca45;
}
.how_card:nth-child(4) {
  border-left: 1px solid #37d348;
}

.how_card:nth-child(2) .how_card_title::before {
  background-image: url(../image/how_card2.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.how_card:nth-child(3) .how_card_title::before {
  background-image: url(../image/how_card3.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.how_card:nth-child(4) .how_card_title::before {
  background-image: url(../image/how_card4.svg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

.how_card_desc {
  width: 258px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #767877;
}

/****************** why choose section  */

.why_choose {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f9fd;
  background-image: url(../image/why_choose_bg.png);
  background-repeat: no-repeat;
  background-position: calc(50% + 300px);
  background-size: 600px 800px;
}
.why_choose_us_pretitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  padding-bottom: 10px;
  color: #050931;
}
.under_about_choose {
  display: flex;
  width: 155px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}
.line_choose {
  width: 62.44px;
  height: 2px;
  background: #fe6b01;
  border-radius: 100px;
}
.card_img {
  width: 80px;
  height: 80px;
  padding: 16px;
  border-radius: 50%;
  background-color: #f5ebe4;
}
.why_choose_us_title {
  width: 496px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #050931;
  margin-bottom: 20px;
}
.why_shoose_desc {
  width: 609px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #647685;
  margin-bottom: 58px;
}

.card_article {
  margin-left: 24px;
}
.choose_card {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.chose_card_wrapper {
  display: flex;
  flex-direction: column;
}
.choose_card:nth-child(2) .card_img {
  background-color: #e1f5eb;
}
.choose_card:nth-child(3) .card_img {
  background-color: #f5f6e4;
}
.choose_card_titile {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #050931;
  margin-bottom: 12px;
}
.choose_card_desc {
  width: 505px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #647685;
  opacity: 0.7;
}
